:root {
    --primary: #af2427;
    --primary-saturated: #580000;
    --gray: #ebebeb;
    --white: #ffffff;
    --black: #000000;
    --green: #00bb00;
    --nav-menu-width: 300px;
}

* {
    box-sizing: border-box;
    border-collapse: collapse;
    -webkit-box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    background-color: white;
    font-family: 'Plus Jakarta Sans', sans-serif;
    min-height: 100vh;
}

a {
    text-decoration: none;
}

input {
    height: min-content;
    outline: none;
}

.icon {
    height: 24px;
    width: 24px;
}

.wrapper {
    display: flex;
}

/* ================================================================ */

.login-wrapper {
    display: flex;
    flex: 1;
    height: 100vh;
}

.login-wrapper .logo,
.login-wrapper .login-section {
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.login-wrapper .logo img {
    width: 100%;
    max-width: 500px;
    height: auto;
}

.login-section {
    background-color: var(--primary);
}

.login-section h1 {
    color: var(--primary);
    font-weight: bold;
    font-size: 3rem;
}

.login-wrapper .form-wrapper {
    background-color: white;
    padding: 2rem;
    border: 1px solid var(--gray);
    border-radius: 0.5rem;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.login-section form div{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-top: 4rem;
}

.login-section input {
    padding: 1rem;
    border-radius: 0.2rem;
    border: 1px solid var(--gray);
    font-size: 1rem;
}

.login-section button {
    margin-top: 2rem;
    padding: 1rem;
    border-radius: 0.2rem;
    border: 1px solid var(--gray);
    font-size: 1rem;
    background-color: var(--primary);
    color: white;
    width: 100%;
    font-weight: bold;
    cursor: pointer;
}

.login-section button:hover {
    color: var(--white);
    background-color: var(--primary-saturated);
}
/* ================================================================ */

.nav-main {
    background: var(--primary);
    padding: 0 1rem 0 1rem;
}

.nav-main .content {
    max-width: 70rem;
    display: flex;
    flex: 1;
    padding: 0.5rem 0 0.5rem 0;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto 0 auto;
}

.nav-main-left {
    display: flex;
    flex: 1;
    align-items: center;
    gap: 4rem;
}

.nav-main .nav-main-list {
    display: flex;
    gap: 2rem;
}

.nav-main .nav-main-list a {
    display: flex;
    padding: 1rem 0rem 1rem 0rem;
    color: var(--white);
    font-weight: 600;
}

.nav-main .nav-main-list a:hover {
    box-shadow: 0 1px 0 0 var(--white);
    transition: all ease-in-out .2s;
}

.nav-main-right button {
    padding: 0.5rem 1rem 0.5rem 1rem;
    color: var(--primary);
    font-weight: bold;
    border: none;
    border-radius: 0.25rem;
    background-color: var(--white);
    font-size: 1rem;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    cursor: pointer;
}

.nav-main-right button:hover {
    color: var(--white);
    background-color: var(--primary-saturated);
}

.container {
    max-width: 50rem;
    margin: 0 auto 0 auto;
}

.container-fluid {
    min-width: 100%;
    margin: 0 auto 0 auto;
}

.background {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
}

section.main-header {
    position: relative;
    padding: 3rem 1rem 3rem 1rem;
}

section.main-header .content {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    max-width: 50rem;
    margin: 0 auto 0 auto;
}

section.main-header .main-header-title h1 {
    line-height: 3rem;
}

section.main-header .main-header-title button {
    margin-top: 1rem;
    padding: 1rem;
    color: var(--white);
    font-weight: bold;
    border: none;
    border-radius: 0.25rem;
    background-color: var(--primary);
    font-size: 1rem;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    cursor: pointer;
}

section.main-header .main-header-title button:hover {
    color: var(--primary);
    background-color: var(--white);
}

section.main-header .background {
    background-position: center;
    background-image: url("./assets/pattern.jpg");
    background-size: cover;
    filter: opacity(0.11);
}

section.our-partner {
    padding: 3rem 1rem 3rem 1rem;
}

section.our-partner .content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    max-width: 50rem;
    margin: 0 auto 0 auto;
}

section.our-partner .content h1 {
    color: var(--primary);
}

section.our-partner .content .our-partner-logo {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(1, 1fr);
    gap: 1rem;
    width: 100%;
}

section.our-partner .content .our-partner-logo img {
    width: 100%;
}

section.learning-path {
    padding: 3rem 1rem 3rem 1rem;
    background-color: var(--primary);
}

section.learning-path .content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    max-width: 50rem;
    margin: 0 auto 0 auto;
}

section.learning-path .content h1 {
    color: var(--white);
}

section.learning-path .content .card-container {
    display: flex;
    gap: 1rem;
}

section.learning-path .content .card-container .card {
    display: flex;
    flex: 1;
    flex-direction: column;
    background-color: white;
    border-radius: 1rem;
}

section.learning-path .content .card-container .card:hover {
    transition: 0.3s;
    background-color: var(--primary-saturated);
    color: white;
}

section.learning-path .content .card-container .card .card-img {
    padding: 3.5rem;
    border-bottom: 1px solid var(--primary);
    text-align: center;
}

section.learning-path .content .card-container .card .card-img img {
    height: 100px;
    aspect-ratio: 3 / 2;
    object-fit: contain;
}

section.learning-path .content .card-container .card .card-text {
    padding: 0 1rem 0 1rem;
}

footer {
    padding: 1rem 2rem 1rem 2rem;
    background-color: var(--primary);
    border-top: 1px solid;
    font-weight: bold;
    color: white;
    text-align: center;
}

/* ================================================================ */
.nav-menu {
    height: 100vh;
    border-right: 1px solid var(--gray);
    left: 0;
    width: var(--nav-menu-width);
    position: fixed;
    display: none;
    flex-direction: column;
    z-index: 1000;
}

.nav-menu.is-active {
    display: flex;
}

.nav-menu header {
    background-color: var(--primary);
    padding: 1.5rem 1rem 1.5rem 1rem;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-menu section {
    display: flex;
    flex: 1;
    flex-direction: column;
    padding: 1rem 0 1rem 0;
    gap: 1rem;
    background-color: white;
}

.nav-menu-item {
    padding-left: 2rem;
    margin: 0 1rem 0 1rem;
    border-radius: 0.25rem;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px;
    border: 1px solid var(--primary);
    background-color: var(--white);
}

.nav-menu-item[open] {
    padding-bottom: 1rem;
}

.nav-menu-item-title {
    padding: 1rem 1rem 1rem 0;
    list-style-position: outside;
    cursor: pointer;
    font-weight: bold;
}

.nav-menu-item-desc {
    display: flex;
    flex-direction: column;
    margin-right: 1rem;
    gap: 0.5rem;
}

.nav-menu-item-desc a {
    display: flex;
    justify-content: space-between;
    border-radius: 0.25rem;
    padding: 0.5rem 1rem 0.5rem 1rem;
}

.nav-menu-item-desc a:hover {
    background: var(--gray);
}

.nav-menu-item-desc a span {
    overflow: hidden;
    text-overflow: ellipsis;
    color: var(--black);
    font-weight: 500;
}

.nav-menu-item-desc a small {
    background: var(--green);
    border-radius: 0.75rem;
    padding: 0.1rem 0.5rem 0.1rem .5rem;
    color: var(--white);
    font-weight: bold;
    font-size: 0.75rem;
    align-self: center;
}

.toggle-nav {
    height: 24px;
    width: 24px;
}

#toggle-nav-1 {
    display: none;
}

#toggle-nav-2 {
    margin-right: 1rem;
}

.learning-content {
    flex-direction: column;
    margin-left: var(--nav-menu-width);
    width: 100%;
    height: 100vh;
}

.learning-content-header {
    display: flex;
    border-bottom: 1px solid var(--gray);
    padding: 1rem;
    justify-content: space-between;
    align-items: center;
}

.learning-content-header-left {
    display: flex;
    align-items: center;
}

.learning-content-header input {
    padding: 0.5rem 1rem 0.5rem 1rem;
    border: 1px solid var(--gray);
    border-radius: 1rem;
}

.learning-content-main {
    height: 87%;
    padding: 1rem;
    margin: 0 auto 0 auto;
    max-width: 50rem;
    text-align: justify;
    position: relative;
}

.learning-content-main article {
    margin: 3rem 0 3rem 0;
}

.learning-content-main h1,
.learning-content-main h2 {
    color: var(--primary);
}

.learning-content-main p,
.learning-content-main ul {
    line-height: 2rem;
}

.learning-content-main img {
    width: 100%;
}

@media screen and (max-width: 768px) {
    #toggle-nav-1 {
        display: block;
    }

    .login-wrapper .logo{
        display: none;
    }

    .learning-content {
        margin-left: 0;
    }

    .learning-content-search {
        display: none;
    }

    .nav-main {
        background: var(--primary);
        padding: 0 0.5rem 0 0.5rem;
    }

    .nav-main .nav-main-list,
    .nav-main-left {
        gap: 0.5rem;
    }

    .nav-main-left img {
        width: 50px;
        height: auto;
    }

    .nav-main-list a {
        font-size: 0.75rem;
    }

    .nav-main-right button {
        font-size: 0.75rem;
    }

    section.main-header .content {
        flex-direction: column-reverse;
    }

    section.our-partner .content .our-partner-logo {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
    }

    section.learning-path .content .card-container {
        flex-direction: column;
    }

    section.learning-path .content .card-container .card .card-img {
        padding: 2rem;
        border-bottom: 1px solid var(--primary);
        text-align: center;
    }

    
}